<!-- _Links.cshtml -->

<!-- Create partial below -->
@model string

@if (ViewData["Title"].ToString() == "Home")
{

    <a href="http://www.linkedin.com/">LinkedIn profile</a>
}
else if (ViewData["Title"].ToString() == "Projects")
{
    <a href="http://www.github.com/">Github profile</a>
}